# Connection string for Upstash Redis (TLS required → use rediss://) or Local Redis
# e.g., rediss://default:your-secure-password@your-instance.upstash.io:6379
REDIS_URL="rediss://default:YOUR_PASSWORD@your-instance.upstash.io:6379"

# Unofficial API endpoint for fetching bus data
BMTC_API_URL="https://nammabmtc.mobi/api/buslocations"

# Interval in seconds to scrape new data
POLL_INTERVAL_SECONDS=30
